@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans&display=swap');


* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1D5C63;
    color: white;
    margin-bottom: 50px;
    align-items: center;
    nav {
        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
            li {
                list-style: none;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        p {
            margin-right: 8px;
        }
        img {
            width: 50px;
        }
    }
}

main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    background-color: #125B50;
    color: #FAF5E4;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card {
            position: relative;
            img {
                width: 250px;
            }
            &:hover p {
                display: block;
            }
            p {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 120px;
                height: 70px;
                margin: auto auto;
                background-color: black;
                button {
                    color: red;
                    font-family: 'Koulen', cursive;
                    width: 150px;
                    border: none;
                    background-color: black;
                    font-size: 35px;
                }
            }
        }
    }
    .pc-choice {
        img {
            width: 150px;
            margin-left: 20px;
            opacity: 0.5;
        }
        .show {
            opacity: 1;
        }
    }
    #count {
        width: 200px;
        height: 120px;
        border: solid gray 10px;
        background-color: black;
        color: white;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #number {
            span {
                margin: 5px;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }
}

@media (max-width: 600px) {
    main {
        section {
            .card {
                img {
                    width: 150px;
                }
                p {
                    display: block;
                    width: 100px;
                    height: 50px;
                    background-color: transparent;
                    button {
                        font-size: 30px;
                        width: 100px;
                    }
                }
            }
        }
        .pc-choice {
            img {
                width: 70px;
                margin-left: 10px;
            }
        }
        .card.sci {
            p {
                width: 0px;
            }
        }
    }
}

@media (max-width: 425px) {
    header {
        flex-direction: column;
        justify-content: center;
        nav {
            display: flex;
            justify-items: flex-start;
            ul {
                gap: 10px;
            }
        }
    }
    main {
        section {
            .card {
                img {
                    width: 100px;
                }
                p {
                    display: block;
                    width: 0px;
                    height: 20px;
                    background-color: transparent;
                    button {
                        font-size: 20px;
                        width: 0px;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {

    main {
        section {
            .card {
                p {
                    right: 50%;
                    button {
                        font-size: 15px;
                        width: 60px;
                        position: absolute;
                        right: 100%;
                    }
                }
            }
        }
    }
}

@import "about";
@import "instructions";